*
{
	margin: 0px;
	padding: 0px;
}

body
{
	font-family: "Raleway", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul
{
	list-style-type: none;
}

a
{
	color: #605c5b;
	text-decoration: none;
}

h2, h3, p
{
	color: #605c5b;
}

input, select, textarea
{
	outline: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	transition: box-shadow 0.3s, border 0.3s;
	box-sizing: border-box;
	color: #605c5b;
	
	font-family: "Raleway", sans-serif;
}

input::placeholder
{
	color: #605c5b;
	opacity: 1;
}

input:focus, select:focus
{
	border: 1px solid #c1cd23;
	box-shadow: 0px 0px 16px #c1cd23;
}

.wrapper
{
	width: 960px;
	margin: 0px auto;
}

.button
{
	display: block;
	border: 0px none;
	border-radius: 4px;
	width: 250px;
	height: 46px;
	font-size: 1.2em;
	background-color: #c1cd23;
	text-align: center;
	line-height: 46px;
	transition: background 0.3s, color 0.3s;
}

.button:hover
{
	background-color: #a2ac20;
	color: #fff;
	cursor: pointer;
}

@media screen and (min-width: 1400px)
{
	.wrapper
	{
		width: 1200px;
	}
}

/* HEADER */

#main-header
{
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
	background: #fff;
}

#main-header .wrapper
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

#logo
{
	width: 200px;
	height: 100%;
}

#logo span
{
	color: #c1cd23;
	line-height: 1.75em;
	text-align: center;
	font-size: 3em;
	font-family: 'Pacifico', cursive;
	display: inline-block;
}

#logo span::first-letter
{
	color: #605c5b;
}

#main-navigation
{
	margin-left: auto;
	line-height: 100px;
	text-align: center;
}

#main-navigation ul
{
	display: inline-block;
}

#main-navigation li
{
	display: inline-block;
	margin: 0px 10px;
	cursor: pointer;
}

#main-navigation a
{
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	transition: border-color 0.3s;
	font-size: 1em;
}

#main-navigation li:hover a
{
	border-color: #c1cd23;
}

#main-navigation li:last-child a
{
	color: #0080ff;
}

#main-navigation li:last-child:hover a
{
	border-color: #0080ff;
}

#search
{
	width: 220px;
}

#search form
{
	position: relative;
}

#searchbox
{
	padding: 2px 50px 2px 8px;
	width: 100%;
	height: 50px;
	font-size: 1em;
}

#search input[type="submit"]
{
	display: none;
}

#search-icon
{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 32px;
	width: 50px;
	height: 100%;
	color: #c1cd23;
	cursor: pointer;
	border-radius: 0px 4px 4px 0px;
	text-align: center;
	transition: background 0.3s;
}

#search-icon span
{
	line-height: 50px;
	transition: color 0.3s;
}

#search-icon:hover
{
	background: #c1cd23;
}

#search-icon:hover span
{
	color: #fff;
}

#main-header .active a
{
	border-color: #c1cd23;
}

#main-header .active-login a
{
	border-color: #0080ff;
}

@media screen and (min-width: 1400px)
{
	#search
	{
		width: 250px;
	}

	#searchbox
	{
		font-size: 1.1em;
	}

	#main-navigation a
	{
		font-size: 1.1em;
	}
}

/* MAIN */

#main
{
	width: 100%;
	/* height: 1600px; */
	margin-top: 100px;
	box-sizing: border-box;
	position: relative;
}

#slideshow
{
	width: 100%;
	height: 650px;
	background-image: url("../img/background.jpg");
	background-size: 100% 650px;
	transition: background 1s;
}

#slideshow .wrapper
{
	padding-top: 200px;
	height: 100%;
	box-sizing: border-box;
	position: relative;
}

#main-title
{
	font-family: 'Pacifico', cursive;
	color: #fff;
	text-align: center;
	font-size: 2em;
	text-shadow: 0px 0px 10px #000;
}

#find-form
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 250px;
	background-color:rgba(10, 10, 10, 0.5);
}

#find-form form
{
	text-align: center;
}

#find-form h2
{
	font-family: 'Pacifico', cursive;
	text-align: center;
	line-height: 80px;
	color: #fff;
	text-shadow: 0px 0px 10px #000;
}

#destination, #find-form input
{
	box-sizing: border-box;
	padding: 10px;
	width: 250px;
	height: 46px;
	font-size: 1.2em;
	margin: 20px 15px 30px 15px;
}

#find-form input[type="submit"]
{
	margin: 0px;
	padding-right: 50px;
	background: #c1cd23;
	cursor: pointer;
	border: none;
	transition: background 0.3s, color 0.3s;
}

#find-form input[type="submit"]:hover
{
	background: #a2ac20;
	color: #fff;
}

#find-form a
{
	display: inline-block;
	height: 46px;
	width: 250px;
	text-align: center;
	color: white;
	box-sizing: border-box;
	border: 1px solid #605c5b;
	line-height: 46px;
	margin: 0px 30px 0px 0px;
	transition: background 0.3s;
	border-radius: 4px;
}

#find-form a:hover
{
	text-decoration: underline;
	background: rgba(0, 128, 255, 0.5);
}

#search-with-icon
{
	display: inline-block;
	position: relative;
}

#search-with-icon label
{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 24px;
	width: 50px;
	height: 100%;
	color: #605c5b;
	cursor: pointer;
	text-align: center;
	transition: background 0.3s;
}

#search-with-icon span
{
	line-height: 46px;
	transition: color 0.3s;
}

#find-form input[type="submit"]:hover + label
{
	color: #fff;
}

.main-content
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 100%;
	height: 400px;
}

#main-left
{
	width: 40%;
	height: 100%;
	padding: 30px;
	box-sizing: border-box;
	text-align: center;
	color: #605c5b;
}

#main-left a
{
	text-decoration: underline;
	font-weight: bold;
	transition: color 0.3s;
}

#main-left a:hover
{
	color: #c1cd23;
}

#main-left article:nth-child(2)
{
	margin-top: 10px;
}

#main-left hr
{
	border: none;
    border-top: 2px solid #e8e8e8;
    margin-top: 0;
    margin-bottom: 10px;
}

#main-left header
{
	margin-bottom: 35px;
}

#main-left h3
{
	margin-bottom: 10px;
	font-size: 1.5em;
}

#main-left footer
{
	margin-top: 20px;
}

#main-left footer a
{
	font-size: 1.5em;
	text-decoration-style: dotted;
}

#main-right
{
	width: 60%;
	height: 100%;
	padding: 30px;
	box-sizing: border-box;
}

#main-right h2
{
	text-align: center;
}

#main-right article
{
	margin-top: 11px;
	position: relative;
	overflow: hidden;
	height: 300px;
	border-radius: 4px;
}

#main-right img
{
	width: 100%;
	height: 300px;
	transition: transform 0.3s;
}

#main-right img:hover
{
	transform: scale(1.05, 1.05);
	cursor: pointer;
}

#image-menu
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-wrap: nowrap;
}

#image-menu > div
{
	color: #fff;
	text-align: center;
}

#image-menu .arrow
{
	height: 60px;
	width: 60px;
	font-size: 1.5em;
	line-height: 60px;
	transition: color 0.3s;
}

#image-menu .arrow:hover
{
	color: #c1cd23;
	cursor: pointer;
}

#image-text
{
	width: calc(100% - 120px);
	margin-top: 9px;
}

#image-text h3, #image-text p
{
	color: #fff;
}

#special-offers
{
	background-color: #f0f0f0;
	padding-bottom: 10px;
}

#special-offers header
{
	text-align: center;
	height: 60px;
	line-height: 60px;
}

#special-offers h3
{
	font-size: 1.5em;
	color: #605c5b;
}

#special-offers .main-content
{
	height: 240px;
	display: flex;
	justify-content: space-between;
}

#special-offers article
{
	height: 240px;
	width: 20%;
	cursor: pointer;
	display: block;
}

#special-offers article h4
{
	text-align: center;
	color: #605c5b;
	font-size: 1.35em;
	line-height: 60px;
	transition: color 0.3s;
}

#special-offers article:hover h4
{
	color: #c1cd23;
}

.offer-image
{
	width: 100%;
	height: 180px;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
}

.offer-image img
{
	width: 100%;
	height: 150px;
	display: block;
	transition: transform 0.3s;
}

.offer-image img:hover
{
	transform: scale(1.05, 1.05);
}

.offer-image div
{
	height: 30px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	background-color: #605c5b;
}

.offer-image p
{
	color: #fff;
}

#special-offers .button
{
	margin: 10px auto;
}

#google-map
{
	width: 100%;
	height: 400px;
}

#search-header
{
	position: absolute;
	top: 132px;
	width: 700px;
	left: calc(25% - 350px);
	right: calc(75% - 350px);
	text-align: center;
	background: #fff;
}

#search-header p:focus
{
	background: red;
}

#search-header h1
{
	padding-top: 20px;
}

#search-header p
{
	padding: 30px;
}

#find-place-form
{
	margin-top: 30px;
}

#search-by-destination
{
	padding: 20px 0px 20px 0px;
	background: #f0f0f0;
}

#search-by-destination h2
{
	text-align: center;
	margin-bottom: 20px;
}

.header-field
{
	box-sizing: border-box;
	padding: 10px;
	width: 22%;
	height: 46px;
	font-size: 1.2em;
}

#search-by-destination .header-field
{
	margin-left: 2%;
}

#search-by-destination .button
{
	width: 22%;
	margin-left: 2%;
	display: inline-block;
}

#refine-search
{
	margin-top: 20px;
}

#refine-search h2
{
	text-align: center;
	margin: 20px 0px;
}

#refine-search hr
{
	border: none;
    border-top: 4px solid #e8e8e8;
    margin: 20px 0px;
}

.search-by
{
	width: 100%;
	padding: 0px 20px;
}

.selection
{
	box-sizing: border-box;
	width: 100%;
	padding: 10px 0px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	overflow: hidden;
}

.selection:disabled
{
	height: 0px;
}

.checkbox-input
{
	width: 25%;
	height: 50px;
	line-height: 50px;
}

.checkbox-input input[type="checkbox"]
{
	display: none;
}

.checkbox-input .fa
{
	color: #a1a1a1;
}

.checkbox-input .fa-check-square
{
	display: none;
	color: #c1cd23;
}

.checkbox-input input[type="checkbox"]:checked ~ .fa-square
{
	display: none;
}

.checkbox-input input[type="checkbox"]:checked ~ .fa-check-square
{
	display: inline;
}

#searching-submit
{
	width: 100%;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

#gallery h1
{
	color: #605c5b;
	text-align: center;
}

.gallery-row
{
	box-sizing: border-box;
	padding: 20px;
}

.gallery-row > header
{
	margin-bottom: 10px;
}

.gallery-item
{
	width: 22%;
	margin-left: 2%;
	cursor: pointer;
	display: inline-block;
}

.gallery-item-part
{
	width: 100%;
	height: 150px;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
}

.gallery-item-part img
{
	width: 100%;
	height: 100%;
	transition: transform 0.3s;
}

.gallery-item-part p
{
	position: absolute;
	display: block;
	bottom: 0px;
	left: 0px;
	padding: 5px 0px;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	color: #fff;
}

.gallery-item h3
{
	margin-top: 10px;
	text-align: center;
	transition: color 0.3s;
}

.gallery-item:hover img
{
	transform: scale(1.05, 1.05);
}

.gallery-item:hover h3
{
	color: #c1cd23;
}

.container
{
	display: flex;
	flex-wrap: nowrap;
}

#contact-page h1
{
	color: #605c5b;
	text-align: center;
	padding: 20px;
}

#contact-page .horizontal-separator
{
	background: #f0f0f0;
	height: 5px;
}

#contact-left
{
	width: 70%;
	box-sizing: border-box;
	padding: 20px;
	border-right: 5px solid #f0f0f0;
}

#contact-left h2
{
	text-align: center;
	padding: 10px;
}

#contact-right
{
	width: 30%;
	box-sizing: border-box;
	padding: 20px;
}

.contact-text-field
{
	box-sizing: border-box;
	padding: 10px;
	width: 350px;
	height: 46px;
	font-size: 1.2em;
	display: block;
	margin: 10px auto;
}

.contact-text-field[name="subject"]
{
	margin-top: 20px;
	width: 600px;
}

.textarea-field
{
	box-sizing: border-box;
	padding: 10px;
	width: 600px;
	height: 200px;
	font-size: 1.2em;
	display: block;
	margin: 10px auto;
	resize: none;
}

#contact-right h2
{
	text-align: center;
	padding: 10px;
}

#contact-right h3
{
	text-align: center;
	padding: 20px 0px 30px 0px;
}

#contact-right p
{
	margin-top: 10px;
	font-size: 1.5em;
	text-align: center;
}

#contact-right p a
{
	font-weight: bold;
	transition: color 0.3s;
}

#contact-right p a:hover
{
	color: #c1cd23;
}

#contact-left .button
{
	margin: 10px auto;
}

#about-me-map
{
	width: 100%;
	height: 250px;
}

.colored
{
	font-weight: bold;
	transition: color 0.3s;
}

.colored:hover
{
	color: #c1cd23;
	cursor: pointer;
}

#about-left
{
	width: 30%;
	box-sizing: border-box;
	padding: 20px;
	border-right: 5px solid #f0f0f0;
}

#about-left img
{
	width: 100%;
	border-radius: 4px;
}

#about-right
{
	width: 70%;
}

#about-right h1
{
	text-align: center;
	color: #605c5b;
}

#about-right p
{
	font-size: 1.2em;
	padding: 20px;
	text-align: center;
}

#about-right .aboutme-info
{
	font-size: 1.3em;
	text-align: left;
}

.aboutme-info a
{
	font-weight: bold;
	transition: color 0.3s;
}

.aboutme-info a:hover
{
	color: #c1cd23;
}

#about-right hr
{
	border: none;
	border-top: 5px solid #f0f0f0;
	margin: 5px 0px;
}

#login-panel
{
	width: 100%;
}

#login-panel h1
{
	color: #605c5b;
	text-align: center;
	padding: 20px;
}

.login-part
{
	box-sizing: border-box;
	padding: 20px;
	width: 50%;
}

.login-part h2
{
	text-align: center;
	padding: 10px;
}

.login-part:first-child
{
	border-right: 5px solid #f0f0f0;
}

.login-part #email
{
	margin: 10px auto;
	display: block;
	width: 250px;
}

.field
{
	height: 46px;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 4px;
	font-size: 1.2em;
	margin: 10px auto;
	display: block;
	width: 250px;
}

.login-part label
{
	margin: 10px auto;
	display: block;
	width: 250px;
}

.login-part .button
{
	margin: 10px auto;
}

.login-part:last-child .field
{
	width: 300px;
}

/* FOOTER */

#footer-upper
{
	background: #e0e0e0;
}

#footer-upper .wrapper
{
	display: flex;
}

.footer-part
{
	background: #e0e0e0;
	width: 32.6%;
	height: 200px;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
}

.vertical-separator
{
	width: 1.1%;
	height: 200px;
	background: #f0f0f0;
}

.horizontal-separator
{
	width: 100%;
	height: 10px;
}

.footer-part h3
{
	font-size: 1.5em;
	margin-bottom: 20px;
}

.footer-part p
{
	font-size: 1.2em;
}

#quick-links a
{
	transition: color 0.1s, font-size 0.1s;
}

#quick-links a:hover
{
	color: #c1cd23;
	font-size: 1.3em;
}

.contact-reference
{
	color: #474747;
	font-weight: bolder;
	transition: color 0.3s;
}

.contact-reference:hover
{
	color: #c1cd23;
}

.social-media
{
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	margin: 20px 0px 0px 10px;
	font-size: 24px;
	color: #fff;
	background: #605c5b;
	padding: 10px;
	border-radius: 22px;
	display: inline-block;
	transition: background 0.3s;
}

.social-media:hover
{
	background: #c1cd23;
}

#footer-lower
{
	background: #e0e0e0;
	padding: 20px 0px 20px 0px;
}

#footer-lower:target
{
	box-shadow: 0px 0px 30px #c1cd23;
}

#news-letter
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

#news-letter *
{
	margin-right: 30px;
}

#email
{
	height: 46px;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 1.2em;
}

#footer-copyright
{
	padding: 20px;
	color: #605c5b;
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
}
